.container {
    display: grid;

    height: 600px;

    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.text{
    grid-column: 2;
    text-align: center;
}

.info
{
    grid-column: 2;
    background-color: white;
    color: #4195b4;
    text-align: center;
}

.image{
    display: inline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont-foot{
    grid-column: 2;
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }