a
{
    color: #4195b4;
    text-decoration: none;
}

.option
{
    color: #4195b4;
}

nav
{
    font: 100% sans-serif;
    text-align: center;
    background-color: white;
}

nav li {
    display: block;
}

.navbar .options-container 
{
    display: flex;
}

.navbar .option 
{
    width: 100%;
}


.navbar .option ul 
{
    display: none;
    padding: 0;
    background-color: white;
    position: relative;
}

.navbar .option:hover ul 
{
    display: block;
}